.aboutMe1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.aboutMeFrame {
  width: 231px;
  height: 231px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.passionateFrontEndDeveloper {
  margin: 0;
  width: 836px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.aboutMe,
.heyThere,
.openSourceContributions {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.heyThere {
  width: 904px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-dimgray);
  text-align: center;
  justify-content: center;
}
.aboutMe,
.openSourceContributions {
  box-sizing: border-box;
}
.aboutMe {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  gap: 22px 0;
  mix-blend-mode: normal;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-nunito-sans);
}
.openSourceContributions {
  margin: 0;
  width: 358px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  padding-right: var(--padding-xl);
}
.githubContributedTo {
  position: relative;
  line-height: 24px;
}
.skills {
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.div,
.heroSection,
.skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-29xl) 0 var(--padding-21xl);
  gap: 24px 0;
  mix-blend-mode: normal;
}
.heroSection {
  width: 795px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  flex-shrink: 0;
}
.certifications {
  margin: 0;
  width: 185px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.foundationOfCyber,
.whatIsData {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  cursor: pointer;
}
.foundationOfCyberSecurityParent {
  flex-direction: column;
}
.div1,
.divInner,
.foundationOfCyberSecurityParent,
.heroSection1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divInner {
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  font-size: var(--font-size-base);
  color: var(--color-blue);
}
.div1,
.heroSection1 {
  box-sizing: border-box;
  max-width: 100%;
}
.div1 {
  width: 680px;
  flex-direction: column;
  padding: var(--padding-29xl) 0 16px;
  gap: 24px 0;
  mix-blend-mode: normal;
}
.heroSection1 {
  width: 835px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
}
.contactAtRehanstudio323gmai,
.rehanTariq2024 {
  position: relative;
  line-height: 24px;
}
.rehanTariq2024 {
  text-align: left;
}
.footer,
.macbookPro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito-sans);
}
.footer {
  align-self: stretch;
  background: linear-gradient(90deg, #2b32b2, #1488cc);
  padding: 26px;
  gap: 20px 0;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.macbookPro {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
@media screen and (max-width: 950px) {
  .aboutMe1 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .heroSection {
    max-width: calc(100% - 2px);
  }
}
@media screen and (max-width: 450px) {
  .aboutMe1 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .aboutMeFrame {
    width: calc(100% - 40px);
  }
  .certifications,
  .openSourceContributions,
  .passionateFrontEndDeveloper {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
}
